button{
  width: 100px;
  height : 100px;
  margin: 20px ;
  font-size: large;
  font-weight: bold;
}

span{
  font-size:xx-large;
}
div{
  font-size: xx-large;
}
#root{
  height: 470px;
  width: 1343px;
  background-image: url(../ModiRahul.jpg);
  background-repeat: no-repeat;
  background-size: 100%;  
}
button.Rahul{
  background-image: url(../congress.png);
  background-size: 100%;
}
button.Modi{
  background-image: url(../bjp.png);
  background-size: 100%;
}
.info{
  width: 200px;
  height: 30px;
  position: absolute;
  left: 572px;
  bottom: 200px;
}
.Voterstable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 98%;
  position: absolute;
  bottom: 0px;
  height: 18%;
  top: 65%;
}


td {
  border: 1px solid #ffffff;
  text-align: center;
  /* padding: 8px; */
  width: 50%;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(117, 201, 250);
}


#input{
  height: 30px;
  width: 200px;
  position: relative;
  top: -35px;
      left: 547px;
    }
    #input2{
      height: 30px;
      width: 200px;
      position: relative;
      top: -35px;
          left: 547px;
        }
        #button{
      height: 30px;
  width: 80px;
  position: relative;
  top:-138px;
  left: 739px;
  background-color: rgb(117, 201, 250);
    }
    .nameError{
      height: 30px;
  width: 200px;
  position: relative;
  top: -35px;
      left: 547px;
      font-size: 10px;
      color: red;
    }
    .adharError{
      height: 30px;
      width: 200px;
      position: relative;
      top: -35px;
          left: 547px;
          font-size: 10px;
          color: red;
    }