.btn1 {
  background-color: green;
  width: 91px;
  height: 49px;
  margin-right: 8px;
  margin-left: 6px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px green;
  color: white;
  font-size: small;
}
.btn2:hover {
  background-color: rgb(104, 17, 185);
}
.btn2 {
  background-color: blueviolet;
  width: 91px;
  color: white;
  height: 49px;
  margin-right: 8px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px blueviolet;
  font-size: small;
}
.btn3 {
  background-color: red;
  width: 91px;
  color: white;
  height: 49px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px red;
  font-size: small;
}
.main-div {
  width: 328px;
  height: 500px;
  background-color: white;
  margin-top: 96px;
  border-radius: 5%;
}
.App {
  display: flex;
  justify-content: center;
  height: 668px;
  background-color: black;
}
.period {
  position: relative;
  left: 14px;
  bottom: -6px;
  font-size: small;
  color: darkgray;
}
.count-down {
  position: relative;
  right: -237px;
  bottom: 30px;
  font-size: small;
  color: darkgray;
}
.btn-div{
  position: relative;
  left: 12px;
}
.ratiodiv{
  display: flex;
  position: relative;
  left: 38px;
  font-size: small;
  color: darkgray;
  margin-left: 15px;
}
.row1{
  display: flex;
  gap: 18px;
  position: relative;
  left: 11px;
  bottom: -21px;
}
.row2{
  display: flex;
  gap: 18px;
  position: relative;
  left: 11px;
  bottom: -32px;
}
.any{
  width: 47px;
  height: 47px;
  border-radius: 0.5em;
  font-weight: bold;
}
.ratio2{
  position: relative;
  left: 139px;
  bottom: -27px;
  font-size: small;
  color: darkgray;
  margin-left: 15px;
}
.records{
  width: 328px;
  height: 213px;
  background-color: lightgray;
  position: relative;
  bottom: -29px;
  border-radius: 5%;

}
.records2{
  font-weight: bold;
  font-size: medium;
  position: relative;
  left: 139px;
}
.circle1{
  background-color:rgb(17, 0, 255);
  width: 30px;
  height: 30px;
  border-radius: 3.5em;
  
}
.recordrow1{
  position:relative;
  bottom: 121px;
  display: flex;
  gap: 5px;
}
.recordrow2{
  position:relative;
  bottom: 99px;
  display: flex;
  gap: 5px;
}
.circle2{
  background-color: rgb(17, 0, 255);
  width: 30px;
  height: 30px;
  border-radius: 3.5em;
  
}
.recordrow3{
  position:relative;
  bottom: 74px;
  display: flex;
  gap: 5px;
}
.circle3{
  background-color: rgb(17, 0, 255);
  width: 30px;
  height: 30px;
  border-radius: 3.5em;
}
.div1{
    height: 24px;
    width: 14px;
    background: black;
    position: absolute;
    /* left: 523px; */
    border-radius: 27px;
    margin-left: 12px;

}
.div2{
    height: 24px;
    width: 13px;
    background: red;
    /* left: 534px; */
    border-radius: -3px;
    border-radius: 14px;
    margin-left: 4px;
   /* top: -23.1px; */
}

.resultdiv1{
    height: 148px;
    width: 322px;
    position: absolute;
    top: 64%;
    gap: 11px;
    display: flex;
    flex-wrap: wrap;
}